# 서울시 공공자전거 대여소 정보 분석

- 대여소 정보 읽기
- 대여소 정보 확인
- NA 값이 몇개인지 확인 ==> NA 값이 들어있는 데이터 삭제
- 타입 변환 (대여소ID ==> int32, 기준시작일자 ==> 날짜타입) 
>- 기준시작일에 '개통'이라는 단어를 포함하고 있는 경우 '개통' 단어 삭제
- 대여소_구의 목록, 개수 출력
- 대여소_구별 거치대 수
- 구별 거치대수의 합계, 평균, 최대, 최소 출력하고 거치대가 많은 순으로 합계별 내림차순으로 10개 출력

## 대여소 정보 데이터 읽기

In [66]:
import numpy as np
import pandas as pd
# df = pd.read_csv('서울특별시 공공자전거 대여정보_201911_2.csv', encoding='cp949')
place = pd.read_excel('서울특별시 공공자전거 대여소 정보(19.12.9).xlsx')
display(place.head(3))

print(place.info())

,대여소_구,대여소ID,대여소명,대여소주소,위도,경도,기준시작일자,거치대수
0,마포구,101.0,101. (구)합정동 주민센터,서울특별시 마포구 동교로8길 58,37.549561,126.905754,2015-09-06 23:40:56,5
1,마포구,102.0,102. 망원역 1번출구 앞,서울특별시 마포구 월드컵로 72,37.555649,126.910629,2015-09-06 23:42:06,20
2,마포구,103.0,103. 망원역 2번출구 앞,서울특별시 마포구 월드컵로 79,37.554951,126.910835,2015-09-06 23:43:13,14

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1541 entries, 0 to 1540
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   대여소_구   1541 non-null   object
 1   대여소ID   1540 non-null   float64
 2   대여소명    1541 non-null   object
 3   대여소주소   1540 non-null   object
 4   위도      1540 non-null   float64
 5   경도      1540 non-null   float64
 6   기준시작일자  1540 non-null   object
 7   거치대수    1541 non-null   int64
dtypes: float64(3), int64(1), object(4)
memory usage: 96.4+ KB
None

## NA 값이 몇 개인지 확인

- NA값이 들어있는 데이터 삭제

In [67]:
checked_place = place.isna().sum()
checked_place

대여소_구     0
대여소ID     1
대여소명      0
대여소주소     1
위도        1
경도        1
기준시작일자    1
거치대수      0
dtype: int64

In [68]:
# NA 데이터 포함하고 있는 데이터 확인
place[place['대여소ID'].isna()]

     대여소_구  대여소ID  대여소명 대여소주소  위도  경도 기준시작일자   거치대수
1540    합계    NaN  1540   NaN NaN NaN    NaN  19545

In [69]:
place = place.dropna()

## 타입 변환

- 대여소ID ==> int32
- 기준시작일자 ==> 날짜타입

In [70]:
place['대여소ID'] = place['대여소ID'].astype(np.int32)

In [73]:
place['기준시작일자'].str.contains('개통').sum()

0

In [72]:
place['기준시작일자'] = place['기준시작일자'].str.replace('개통','',regex=False)

In [76]:
place['기준시작일자'] = pd.to_datetime(place['기준시작일자'])


# place['기준시작일자'] = place['기준시작일자'].astype('str')

<class 'pandas.core.frame.DataFrame'>
Index: 1540 entries, 0 to 1539
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   대여소_구   1540 non-null   object
 1   대여소ID   1540 non-null   int32
 2   대여소명    1540 non-null   object
 3   대여소주소   1540 non-null   object
 4   위도      1540 non-null   float64
 5   경도      1540 non-null   float64
 6   기준시작일자  287 non-null    object
 7   거치대수    1540 non-null   int64
dtypes: float64(2), int32(1), int64(1), object(4)
memory usage: 102.3+ KB

ValueError: time data "2018. 5. 30 " doesn't match format "%Y.%m.%d", at position 25. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

## 대여소_구의 목록, 개수 출력

## 대여소_구별 거치대 수

## 구별 거치대수의 합계, 평균, 최대, 최소 출력하고 거치대가 많은 순으로 합계별 내림차순으로 10개 출력

# 서울시 공공자전거 대여 정보 분석
- 대여정보 읽기
- 대여정보 확인 (결측치 컬럼 등)
- 대여일시, 반납일시를 날짜타입으로 변경
- 일자별로 대여 건수 내림차순으로 정렬하여 출력
    - Series객체.dt.날짜property
- 요일별 대여 건수 확인

## 대여 정보 데이터 읽기

## 대여정보 확인

## 대여일시, 반납일시를 날짜타입으로 변경

## 요일별 대여 건수 확인

## 일자별로 대여 건수 내림차순으로 정렬하여 출력

# 대여소 정보와 대여정보 Join
- 대여소 정보와 대여정보 join
- join 데이터 정보 확인
- 각 구별 이용시간과  이용거리에 대한 평균, 최대, 최소값 출력

## 대여소 ID 기준으로 두 데이터 병합

## 구별 평균 이용시간, 평균 이용거리, 최대 이용시간, 최소 이용시간 확인 (구 이름 정렬)